{% block content %}

<body>
    <form method="post">
        {% csrf_token %}
        <div>
            <h5>Add Availability</h5>
            <button type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div>
            {{ form.as_p }}
        </div>
        <div>
            <input type="button" value="Close" onClick="location.href='{% url 'shifts:availability' %}'">
            <button type="submit">ADD </button>
        </div>
    </form>
</body>

{% endblock %}