{% block content %}
<style>
    table {
        table-layout: fixed;
    }

    td > div {
      height: 100px;
      overflow: hidden;
      white-space: nowrap;
    }
</style>
<br>
<a href="{% url 'shifts:availability' month.previous.year month.previous.month %}">Last Month</a>
{{ month.current | date:"Y/m" }}
<a href="{% url 'shifts:availability' month.next.year month.next.month %}">Next Month</a>

<br>
<table class="table">
    <thead>
       <tr>
      {% for w in month.week_names %}
        <th>{{ w }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for week in month.days %}
      <tr>
        {% for day in week %}
          {% if month.now == day %}
            <td class="table-success">
          {% else %}
            <td>
          {% endif %}
          {% if month.current.month != day.month %}
            {{ day | date:"m/d" }}
          {% else %}
            {{ day.day }}
          {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>
<table class="table table-bordered">
    <tbody>
        {% for week_name, day, day_availability_list in week_row %}
            <tr>
                <td>
                    {% if week.first.month != day.month %}
                        {{ day | date:"m/d" }}
                    {% else %}
                        {{ day.day }}
                    {% endif %}
                    ({{ week_name }})
                    <a href="{% url 'shifts:availabilityadd' %}">Add</a>
                </td>

                <td>
                    {% for a in day_availability_list %}
                        {{ a.start_time }} - {{ a.end_time }} <br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}