{% block content %}
<a href="{% url 'accounts:login' %}">Logout</a>
<br>
<br>
<a href="{% url 'shifts:availability' %}">Availability</a>
<br>
<br>
<a href="{% url 'shifts:index' week.previous.year week.previous.month week.previous.day %}">Last Week</a>
{{ week.first | date:"Y/m/d" }} ~ {{ week.last | date:"Y/m/d" }}
<a href="{% url 'shifts:index' week.next.year week.next.month week.next.day %}">Next Week</a>

<table border="1" width="800" cellpadding="10">
    <thead>
        <tr>
            <th></th>
            {% for w in week.week_names %}
            <th>{{ w }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            {% for day in week.days %}
                {% if week.now == day %}
                <td class="table-success">
                {% else %}
                <td>
                {% endif %}
            {% if week.first.month != day.month %}
                {{ day | date:"m/d" }}
            {% else %}
                {{ day.day }}
            {% endif %}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td>shifts</td>
            {% for day_schedule_list in week.schedule_list %}
            <td>
                {% for s in day_schedule_list %}
                {{ s.start_time }} - {{ s.end_time }}
                <a href="{% url 'shifts:assign' s.schedule_id %}">Add</a><br>
                {% endfor %}
            </td>
            {% endfor %}

        </tr>
        {% for users in username %}
            <tr>
                <td>{{ users }}</td>
                    {% for day_availability_list in week.availability_list %}
                        {% for s in day_availability_list %}
                            {% if s.user == users %}
                            <td>{{ s.start_time }} - {{ s.end_time }}<br></td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'shifts:shiftsadd' %}">Shift Add</a>
{% endblock %}